<div class="impact-section">
    <div class="impact-item">
        <h2>74 +</h2>
        <p>YEARS OF EXPERIENCE</p>
    </div>
    <div class="impact-item">
        <h2>1400 +</h2>
        <p>DEDICATED EMPLOYEES</p>
    </div>
    <div class="impact-item">
        <h2>4 M+</h2>
        <p>SQFT OF WAREHOUSE SPACE</p>
    </div>
    <div class="impact-item">
        <h2>250 +</h2>
        <p>DRIVERS</p>
    </div>
    <div class="impact-item">
        <h2>25</h2>
        <p>LOCATIONS</p>
    </div>
    <div class="impact-item">
        <h2>6</h2>
        <p>GLOBAL OFFICES</p>
    </div>
</div>
